*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#nav-logo{
    width: fit-content;
}
#nav-option{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 30px;
}
#nav-option button{
    border-radius: 50px;
    font-size: 1.15vw;
    color: #596463;
    border-color: transparent;
    background-color: transparent;
    font-weight: 100;
    padding: 5px 7px
}
#nav-option button:hover{
    border-radius: 50px;
    background-color: rgba(128, 128, 128,0.1);
}
#nav-button button{
    font-size: 1.2vw;
    font-weight: 100;
    padding: 10px 35px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50px;

}
#nav-button button:nth-child(2){
    background-color: #b0EC9C;
}

#hero-section{
    width: 90vw;
    height: 95vh;
    background-color: hsl(180 5% 96%);
    margin: 0px 70px;
    border-radius: 25px;
    display: block;
    text-align: center;
}

#img1{
    height: 20vh;
    position: absolute;
    top: 200px;
    left: 30px;
}
#img2{
    width: 20vw;
    position: absolute;
    top: 110px;
    left: 40%;
}
#img3{
    float: right;
    width: 17vw;
    height: 30vh;
    position: absolute;
    top: 200px;
    left: 82%;
}
#img4{
    float: right;
    width: 17vw;
    height: 30vh;
    position: absolute;
    top: 70%;
    left: 30px;
}
#img5{
    float: right;
    /* width: 17vw; */
    height: 30vh;
    position: absolute;
    top: 70%;
    left: 80%;
}
#hero-section h1{
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 8vw;
    line-height: 8vw;
    /* word-spacing: 1vw; */
    position: absolute;
    top: 200px;
    left: 25%;
}
#hero-section p{
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 8vw;
    /* word-spacing: 1vw; */
    position: absolute;
    top: 500px;
    left: 28%;
    font-weight: 400;
    word-spacing: 5px;
}
#hero-section #input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 600px;
    left: 25% ;
    box-shadow: 0px 0.px 3px black;

}
input{
    padding: 15px 0px 15px 20px;
    font-size: 1.3vw;
    width: 32vw;
    border: 1px solid black;
    border-radius: 50px;
}

#hero-section button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: #b0EC9C;
    position: absolute;
    top: 600px;
    left: 58% ;
    padding: 15px 0px 15px 20px;
    font-size: 1.3vw;
    width: 15vw;
    border: 1px solid black;
    border-radius: 50px;
}
#hero-section button:hover{
    box-shadow: 0px 3px 1px black;
}

#user-traffic{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 70px 0px 70px;
}
.user-data{
    width: 25vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.user-data h1{
    font-size: 2vw;
    font-weight: 700;

}
.user-data p{
    font-size: 1.2vw;
    font-weight: 100;
}

#publish{
    background-color:  hsl(253 100% 88%);
    border-radius: 20px;
    width: 90vw;
    height: 75vh;
    margin: 0px 70px 30px 70px ;
    display: flex;
    padding: 0px 10px 10px 40px;
    transition: 0.5s;
}
#publish:hover{
    background-color: hsl(255 100% 90%);
    transition: 0.5s;
}
#publish:hover img{
    scale: 1.05;
    transition: 0.5s;
}
#publish-pics{
    background-color: transparent;
    width: fit-content;
    margin-top: 5%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#publish-pics img{
    width: 40vw;
    background-size: cover;
    transition: 0.5s;
}


#publish-content{
    background-color: transparent;
    width: 40vw;
    /* height: 55vh; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    
}
#publish-content h5{
    /* padding-top: 60px; */
    font-size: 1vw;
    font-weight: lighter;
    word-spacing: 15px;
    padding-top: 13%;
    text-transform: uppercase;
}

#publish-content h2{
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: 10px;
    font-size: 2.3vw;
    padding-top: 10px ;
}
#publish-content p{
    font-size: 1.15vw;
    line-height: 1.25;
    font-weight: 100;
    color: #596463;
    padding-top: 20px;
}
#publish-content button{
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    margin: 40px 0px 20px 0px;
    /* padding-top: 25px; */
    gap: 10px;
    width: 12vw;
    font-weight: 500;
    font-size: 1.1vw;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
}

#publish-content button:hover{
    background-color: rgb(25, 24, 24);
    box-shadow: 0px 3px 1px black;
    transition: 0.1s;
    /* rotate: -40deg; */
}

#publish-content button:hover i{
    transition: 0.2s;
    rotate: -40deg;
}
.mini-images{
    display: flex;
    padding: 10px 20px;
    background-color: transparent;
    width: fit-content;
    padding: 7px 40px;
}
#mini-images-paragraph{
    position: absolute;
    top: 200%;
    background-color: transparent;
    width: fit-content;
    margin-left: 70px;
    
}
#mini-images-paragraph p{
    font-size: 1.2vw;
    padding: 10px 5px;
}
#create-left-main-section{
    /* background-color: black; */
    width: 45vw;

}
#create{
    background-color:  hsl(7 100% 87%);
    /* background-color: black; */
    border-radius: 20px;
    width: 90vw;
    height: 80vh;
    margin: 0px 70px 30px 70px ;
    display: flex;
    /* align-items: self-start */
    padding: 0px 0px 0px 60px;
    transition: 0.5s;
}
#create:hover{
    background-color:hsl(8 100% 89%);
    transition: 0.5s;
}
#create-content h5{
    /* padding-top: 60px; */
    font-size: 1vw;
    font-weight: lighter;
    word-spacing: 10px;
    padding-top: 13%;
    text-transform: uppercase;
}

#create-content h2{
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: 7px;
    font-size: 2.3vw;
    padding-top: 10px ;
}
#create-content p{
    font-size: 1.15vw;
    line-height: 1.25;
    font-weight: 100;
    color: #596463;
    padding-top: 20px;
}
#create-content button{
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    margin: 40px 0px 20px 0px;
    /* padding-top: 25px; */
    gap: 10px;
    width: 12vw;
    font-weight: 500;
    font-size: 1.1vw;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
}

#create-content button:hover{
    background-color: rgb(25, 24, 24);
    box-shadow: 0px 3px 1px black;
    transition: 0.1s;
    /* rotate: -40deg; */
}

#create-content button:hover i{
    transition: 0.2s;
    rotate: -40deg;
}

#create-pics{
    width: fit-content;
    margin: 2%  3%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-pics img{
    width: 42vw;
    background-size: cover;
    transition: 0.5s;
}
#create:hover img{
    scale: 1.05;
    transition: 0.5s;
}
#mini-images2-paragraph{
    position: absolute;
    top: 281%;
    left: 6%;
    background-color: transparent;
    width: fit-content;
    margin-left: 70px;
    
}
#mini-images2-paragraph p{
    font-size: 1.2vw;
    line-height: 2.5vw;
    
}
.mini-images2{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
    padding: 7px 0px;
}

#collabrate-engage-main-section{
    /* background-color: black; */
    width: 90vw;
    margin: 0px 70px 30px 70px ;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

}
#collabrate{
    width: 44vw;
    height: 100vh;
    background-color: hsl(40 100% 83%);
    border-radius: 20px;
    padding-left: 70px;
    transition: 0.5s;
    
}

#engage{
    width: 44vw;
    height: 100vh;
    background-color: #b0EC9C;
    border-radius: 20px;
    padding-left: 70px;
    transition: 0.5s;
}
#engage:hover{
    background-color: hsl(104 69% 86%);
    transition: 0.5s;
}


.collabrate-engage:hover{
    background-color:hsl(8 100% 89%);
    transition: 0.5s;
}
.collabrate-engage h5{
    /* padding-top: 60px; */
    font-size: 1vw;
    font-weight: lighter;
    word-spacing: 10px;
    padding-top: 13%;
    text-transform: uppercase;
}

.collabrate-engage h2{
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: 7px;
    font-size: 2.3vw;
    padding-top: 10px ;
}
.collabrate-engage p{
    font-size: 1.15vw;
    line-height: 1.50;
    font-weight: 100;
    color: #596463;
    padding-top: 20px;
}
#collabrate h2{
    line-height: 1;

}
.collabrate-engage button{
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    margin: 40px 0px 20px 0px;
    /* padding-top: 25px; */
    gap: 10px;
    width: 12vw;
    font-weight: 500;
    font-size: 1.1vw;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
}

.collabrate-engage button:hover{
    background-color: rgb(25, 24, 24);
    box-shadow: 0px 3px 1px black;
    transition: 0.1s;
    /* rotate: -40deg; */
}

.collabrate-engage button:hover i{
    transition: 0.2s;
    rotate: -40deg;
}

#collabrate img{
    width: 48vw;
    /* margin: 2%  3%; */
    height: fit-content;
    position: absolute;
    left: 03%;

}
#engage img{
    width: 48vw;
    /* margin: 2%  3%; */
    height: fit-content;
    position: absolute;
    left: 50%;

}
.collabrate-engage img{
    /* width: 42vw; */
    background-size: cover;
    transition: 0.5s;
}
.collabrate-engage:hover img{
    scale: 1.05;
    transition: 0.5s;
    
}





#analyze-left-main-section{
    /* background-color: black; */
    width: 45vw;

}
#analyze{
    background-color: hsl(208 100% 88%);
    /* background-color: black; */
    border-radius: 20px;
    width: 90vw;
    height: 70vh;
    margin: 0px 70px 30px 70px ;
    display: flex;
    /* align-items: self-start */
    padding: 0px 0px 0px 60px;
    transition: 0.5s;
}
#analyze:hover{
    background-color:  hsl(207 100% 90%);
    transition: 0.5s;
}
#analyze-content h5{
    /* padding-top: 60px; */
    font-size: 1vw;
    font-weight: lighter;
    word-spacing: 10px;
    padding-top: 13%;
    text-transform: uppercase;
}

#analyze-content h2{
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: 7px;
    font-size: 2.3vw;
    padding-top: 10px ;
}
#analyze-content p{
    font-size: 1.15vw;
    line-height: 1.25;
    font-weight: 100;
    color: #596463;
    padding-top: 20px;
}
#analyze-content button{
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    margin: 40px 0px 20px 0px;
    /* padding-top: 25px; */
    gap: 10px;
    width: 12vw;
    font-weight: 500;
    font-size: 1.1vw;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
}

#analyze-content button:hover{
    background-color: rgb(25, 24, 24);
    box-shadow: 0px 3px 1px black;
    transition: 0.1s;
    /* rotate: -40deg; */
}

#analyze-content button:hover i{
    transition: 0.2s;
    rotate: -40deg;
}

#analyze-pics{
    width: fit-content;
    margin: 2%  3%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#analyze-pics img{
    width: 43vw;
    background-size: cover;
    transition: 0.5s;
}
#analyze:hover img{
    scale: 1.05;
    transition: 0.5s;
}
#mini-images3-paragraph{
    position: absolute;
    top: 461%;
    left: 6%;
    background-color: transparent;
    width: fit-content;
    margin-left: 70px;
    
}
#mini-images3-paragraph p{
    font-size: 1.2vw;
    line-height: 2.5vw;
    
}
.mini-images3{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
    padding: 7px 0px;
}


#icon{
    /* background-color: hsl(209, 88%, 35%); */
    border-radius: 20px;
    border: 1px solid black;
    width: 90vw;
    height: 35vh;
    margin: 0px 70px 30px 70px ;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 0px 50px 0px 50px;

}
#icon-right-part{
    /* background-color: rgb(137, 131, 102); */
    /* height: 30vh; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
#content-div{
    /* background-color: rgb(130, 76, 76); */
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    /* color: white; */
    height: 30vh;
    width: 10vw;
}
#icons{
    /* background-color: rgb(139, 130, 130); */
    /* height: 10vh; */
    width: 74vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.ChannelsSection_linkLogo__toCwB{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: space-between;
    background-color: transparent;
    width: 5vw;
    height: 10vh;
    transition: 0.3s;

}
#bluesky:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(211 99% 53%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#facebook:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(211 99% 53%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#google-bussiness-profile:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(220 72% 59%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#instagram:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(331 98% 47%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#linkedln:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(213 63% 43%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#mastodon:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(240 100% 69%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#pinterest:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(351 100% 45%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#threads:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(0 0% 0%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#tiktok:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(0 0% 0%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#X:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(0 0% 0%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}
#youtube:hover{
    width: 5.5vw;
    height: 10.5vh;
    background-color: hsl(0 100% 50%);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 3px 1px black;
    cursor: pointer;
}

#icons-name ul {
    padding-left: 10px;
    display: flex;
    gap: 5px;
    list-style: none;
    font-size: 0.7vw;
}
#icons-name{
    display: flex;
    /* background-color: rgb(40, 39, 32); */
    width: 77vw;
    height: 5vh;
    /* color: white; */
}
/* Complete Icons Section Code */

#community-section{
    width: 90vw;
    height: 100vh;
    background-color: hsl(180 5% 96%);
    margin: 0px 70px 30px 70px;
    border-radius: 20px;
}
#community-top-section{
    width: 80vw;
    height: 30vh;
    background-color: transparent;
    border-radius: 20px;
    margin: 0px 0px 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#community-top-section h1{
    word-spacing: 5px;
    font-size: 3vw;
    font-weight: 500;
}

.comunity-btn{
    font-size: 1.3vw;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: lighter;
}
#creator{
    background-color: #213130;
    color: #b0EC9C;
}
#small-bussiness:hover{
    background-color: #213130;
    color: #b0EC9C;
    transition: 0.3s;
}
#agencies:hover{
    background-color: #213130;
    color: #b0EC9C;
    transition: 0.3s;
}

#community-down-section{
    width: 80vw;
    height: 60vh;
    background-color: hsl(289 100% 87%);
    border-radius: 20px;
    margin: 0px 0px 30px 70px;
    display: flex;
    align-items: center;
    padding: 20px;

}
#community-down-section-left-part{
    width: 40vw;
    /* background-color: yellow; */
    padding: 20px 20px;
}
#community-down-section-left-part h1{
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.5vw;
}
#community-down-section-left-part p{
    margin: 20px 0px;
    font-size: 1.2vw;
    line-height: 1.5vw;
    font-weight: 100;
}
#community-down-section-left-part h5{
    margin-top: 5px;
    font-size: 1.2vw;
    line-height: 1.7vw;
    font-weight: lighter;
}
#community-down-section-right-part{
    background-color: white;
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    margin: 0px 30px 0px 0px;
    padding: 10px;
}
#community-headline{
    /* background-color: yellow; */
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#community-user-section{
    height: 30vh;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.user{
    /* background-color: rgb(114, 59, 59); */
    height: 30vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-img{
    /* background-color: gold; */
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    margin-top: 20px;
}
.user-img img{
    /* background-color: gold; */
    width: 6vw;
    height: 13vh;
    border-radius: 50%;
    margin-top: 0px;
}
.user-data{
    /* background-color: gold; */
    width: 13vw;
    height: 10vh;
    border: none;
}
